.gallery{
    display: grid;
    width: 85%;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
img{
    width: 100%;
    height: auto;
}
.article div{
    display: flex;
    flex-direction: column;
    background: #d287e6;
    padding-top: 1rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    border-radius: 15px;
    width: 85%;
    img{
        border-radius: 15px;
    }
}
.article-text{
    display: flex;
    flex-direction: column;
    h1{
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
}
@media screen and (min-width: 768px){
    .gallery{
        grid-template-columns: repeat(3, 1fr);
    }
    .article{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .article div{
        width: 40%;
        margin: 1rem auto;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-between;
        img{
            width: 100%;
            height: auto;
        }
    }
    .article-text{
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0 auto;
        align-items: left;
        width: 100%;
        min-width: 80%;
        height: auto;
    }
}

@media screen and (min-width: 1024px){
    
    .article div{
        width: 30%;
        display: flex;
    }
}